---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
html {
  font-size: 100%;
}

body {
  background-image: url("http://www.clipartkid.com/images/112/sky-clipart-vErxqj-clipart.jpeg");
  background-size: 1920px 800px;
  background-attachment: fixed; 
  background-position-x: initial;
  background-position-y: initial;
  background-size: 100% 100%;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  font: 18px/1.4;
  color: $darkGray;
  font-family: 'David Libre', serif;
  margin-top: 140px;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  background-color: rgba(255, 255, 255,0.7);
  box-shadow: 0px 3px 10px  #000;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Titillium Web', sans-serif;
  color: black;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;;
}

p {
  margin: 15px 0;
  font-weight: normal;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: #600;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-weight: bold;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  position: fixed;
  width: 100%;
  top: 0px;
}

.masthead {
  border-bottom: 1px solid black;
  background-color: white;
  width: 100%;
  box-shadow: 3px 3px 5px #000;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 25px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin-top: 10px;
  color: black;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 1px;
}

.site-description { 
  margin: -5px 0 0 0;
  color: black;
  font-size: 20px;
  font-weight: bold;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding: 45px 0px;
  margin-right: 20px;
  color: black;
	
 
  @include mobile {
    float: none;
    margin-top: 50px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: black;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: red;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid black;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
}
table, td, th {
	border-radius: 10px;;
	padding: 10px;
}
table {
	box-shadow: 0px 3px 10px  #000;
	background-color: rgba(255, 255, 255,0.5);
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
